@use "../abstract/variables";

.cabecalho {
  background-image: url("/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 16 / 5;
  color: variables.$branco;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  &__titulo {
    font-size: 96px;
    font-weight: 700;
  }

  &__texto {
    font-size: 24px;
    font-weight: 700;
    max-width: 900px;
  }

  &__botao {
    width: 400px;
    height: 90px;
    border-radius: 68px;
  }
}
